<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Menu</title>
</head>
<body>
    <div class="container" style="  background-color: rgb(235, 224, 212);">
        <h2 class="mt-5 ">Menu Principal</h2>
        <div class="row p-4">
            <div class="col-md-3 offset-2 on p-3">
                <p style="text-align: center;"> <span class="bg-success rounded-pill p-2"> les utilisateurs</span></p>
                <a href="/ajouter_utilisateur" class="btn btn-primary rounded-pill mb-3 form-control">utilisateurs</a><br>
                <a href="/ajouter_typeUtilisateur" class="btn btn-primary rounded-pill form-control">types d'utilisateurs</a>

            </div>
            <div class="col-md-3 on p-3 offset-2">
                <p style="text-align: center;"> <span class="bg-success rounded-pill p-2"> les courriers</span></p>
                <a href="/ajouter_entrant" class="btn btn-primary rounded-pill mb-3 form-control" >Courriers entrants</a><br>
                <a href="/ajouter_sortant" class="btn btn-primary rounded-pill form-control">Courriers sortants</a>
            </div>
        </div>
    </div>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
